.list{
    &_movies{
        flex: 0 0 40px;
        display: flex;
        padding: 0 55px;
        margin-top: 50px;
        color: white
    }
}
.react-multi-carousel-item{
    height: 230px;
}
.react-multiple-carousel__arrow {
    height: 100%;
}
.react-multiple-carousel__arrow--left {
    left: 0%;
}
.react-multiple-carousel__arrow--right {
    right: 0%;
}
.card_movies{
    flex: 0 0 14.7%;
    text-align: center;
    transition: transform 300ms ease 100ms;
    color: white;
}
.card_movies:hover{
    
    transform: scale(1.5) !important;
 }
 .card_movies:hover ~ .card_movies {
    transform: translateX(25%);
 }
 .bg{
    z-index: -1;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: black;
 }
 
    
 