.list{
    &_movies{
        flex: 0 0 40px;
        display: flex;
        margin-top: 10px;
        color: white
    }
}
.slider {
    position: relative;
    margin: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.react-multi-carousel-item{
    z-index: -3;
    width: 0;
    height: 230px;
}
.react-multiple-carousel__arrow {
    height: 100%;
}
.react-multiple-carousel__arrow--left {
    left: 1px;
}
.react-multiple-carousel__arrow--right {
    right: 1px;
}
.card_movies{
    flex: 0 0 14.7%;
    text-align: center;
    transition: transform 300ms ease 100ms;
    color: white;
    width: 180px;
    height: 104px;
}
.card_movies:hover{
    transform: scale(1.2) !important;
    width: 200px;
    height: 300px;
 }

 .bg{
    z-index: -1;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: black;
 }
 
    
.list_button{
    display: flex;
    text-align: right;
}
.container_card{
    margin-right: 10px;
}

.listItem{
    width: 225px;
    height: 120px;
    margin-right: 5px;
}