.list_movies_filter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
.list_filter{
        max-width: 185px;
        margin-right: 25px;
        margin-bottom: 15px;
}
.container_banner_filter{
        height: 15vh;
        display: flex;
        position: relative;
        flex-direction: row;
        color: white;
        height: 50vh;
        padding-bottom: 3rem;
        background-color: black; 
        .search{
                margin: auto auto auto 0;
                width: 450px;
                height: 45px;
        }
}
.info{
        flex-wrap: wrap;
}
